@charset "UTF-8";

@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }

*{
	font-family: NanumSquareRound;
	margin: 0;
    padding: 0;
    font-size: 100%;
    border: 0;
    vertical-align: baseline;
}

#headerbody{
	line-height: 1.5;
    color: #000;
    font-size: 12px;
    background: #f7f7f7;
}

#headerimg{
	vertical-align: top;
}

#header{
	position: relative;
	height: 66px;
	overflow: hidden;
	text-align: center;
	background: #F8CAC6;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 0 30px 0;
}

.logo {
	display: inherit;
}

/* nav-icon-5 */
.nav-icon-5{
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  top: -3.7em;
  right: -46%;
}
.nav-icon-5 span{
  background-color:#fff;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms
}
.nav-icon-5 span:nth-child(1){
  top:0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2){
  top:13px;
  opacity:1;
  left: 0px;
}
.nav-icon-5 span:nth-child(3){
  bottom:0px;
  left: 0px;
}
.nav-icon-5:not(.open):hover span:nth-child(1){
  transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2){
  transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(3){
  transform: rotate(-4deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
}
.nav-icon-5.open span:nth-child(2){
  opacity:0;
}
.nav-icon-5.open span:nth-child(3){
  transform: rotate(-45deg);
  top: 13px;
}

#hmenu {
	position: fixed;
    width: 150px;
    height: 214px;
    z-index: 99999;
    top: 62px;
    right: 1em;
    background: #F8CAC6;
    display: none;
}

#hol {
	list-style-type: none;
	font-size: 9pt;
}

.hli {
    padding: 10px 0;
}

.hli a {
	text-decoration: none;
	color: black;
}

.hli:hover {
	background: #DE6562;
}